Code to write scenario data file ;)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [9]:
#Import data
excel_file = "/Users/margueritefauroux/Desktop/data_metals.xlsx"
sheet_name_cu_prod = "cu_prod"
df_cu_prod = pd.read_excel(excel_file, sheet_name=sheet_name_cu_prod)

sheet_name_cu_dem = "cu_dem"
df_cu_dem = pd.read_excel(excel_file, sheet_name=sheet_name_cu_dem)
period = [2022, 2025, 2030, 2035, 2040, 2045, 2050]
df_cu_dem = df_cu_dem[df_cu_dem['Year'].isin(period)].set_index('Year')

In [3]:
#Share of copper production locations in 2019
#We will make the hypothesis that these shares stay constant
#Refining
total_cu_prod_ref = df_cu_prod['Prod Refinery Primary tCu'].sum()
share_cu_prod_ref_by_region = (df_cu_prod.groupby('Region')['Prod Refinery Primary tCu'].sum() / total_cu_prod_ref)
print(share_cu_prod_ref_by_region.sort_values(ascending=False))

Region
CHA    0.476308
EUR    0.096482
REF    0.089460
LAM    0.085168
JPN    0.072651
OAS    0.061557
USA    0.028800
IND    0.026733
MEA    0.023317
CAZ    0.015950
SSA    0.012295
NEU    0.011280
Name: Prod Refinery Primary tCu, dtype: float64

In [4]:
#Leaching
total_cu_prod_leach = df_cu_prod['Prod Leach tCu'].sum()
share_cu_prod_leach_by_region = (df_cu_prod.groupby('Region')['Prod Leach tCu'].sum() / total_cu_prod_leach)
print(share_cu_prod_leach_by_region.sort_values(ascending=False))

Region
LAM    0.455012
SSA    0.304239
USA    0.131063
OAS    0.063078
CHA    0.013852
EUR    0.012135
REF    0.010147
CAZ    0.006217
MEA    0.004079
NEU    0.000179
IND    0.000000
JPN    0.000000
Name: Prod Leach tCu, dtype: float64

In [5]:
#Secondary production
total_cu_prod_sec = df_cu_prod['Prod Refinery Secondary tCu'].sum()
share_cu_prod_sec_by_region = (df_cu_prod.groupby('Region')['Prod Refinery Secondary tCu'].sum() / total_cu_prod_sec)
print(share_cu_prod_sec_by_region.sort_values(ascending=False))

Region
CHA    0.521168
EUR    0.133293
JPN    0.082231
MEA    0.081988
REF    0.059060
OAS    0.046672
CAZ    0.037501
LAM    0.015845
USA    0.010660
NEU    0.007541
SSA    0.003562
IND    0.000480
Name: Prod Refinery Secondary tCu, dtype: float64

In [6]:
#Shares of copper primary production pathways (refining and leaching) in 2019
#We will make the hypothesis that these shares stay constant
share_ref = df_cu_prod['Prod Refinery Primary tCu'].sum() / (df_cu_prod['Prod Refinery Primary tCu'].sum() + df_cu_prod['Prod Leach tCu'].sum())
share_leach = df_cu_prod['Prod Leach tCu'].sum() / (df_cu_prod['Prod Refinery Primary tCu'].sum() + df_cu_prod['Prod Leach tCu'].sum())
print(share_ref)
print(share_leach)

0.7978316251177205
0.2021683748822795

In [10]:
df_cu_dem_period['primary production']

Year
2022    0.870
2025    0.875
2030    0.880
2035    0.870
2040    0.860
2045    0.830
2050    0.800
Name: primary production, dtype: float64

In [12]:
#Quantity of copper supplied by refining for each year and each scenario
prod_ref_NZE = df_cu_dem['primary production']*df_cu_dem['NZE']*share_ref
prod_ref_SPS = df_cu_dem['primary production']*df_cu_dem['SPS']*share_ref

In [15]:
#Quantity of copper supplied by leaching for each year and each scenario
prod_leach_NZE = df_cu_dem['primary production']*df_cu_dem['NZE']*share_leach
prod_leach_SPS = df_cu_dem['primary production']*df_cu_dem['SPS']*share_leach

In [16]:
#Quantity of copper supplied by secondary production for each year and each scenario
prod_sec_NZE = df_cu_dem['secondary production']*df_cu_dem['NZE']
prod_sec_SPS = df_cu_dem['secondary production']*df_cu_dem['SPS']

In [85]:
print(prod_ref_NZE)

Year
2022    17701.185654
2025    19458.306529
2030    25003.315509
2035    26885.445789
2040    28060.253655
2045    26726.799364
2050    25360.450475
dtype: float64

In [17]:
prod_ref_NZE_by_region

Year,2022,2025,2030,2035,2040,2045,2050
Region,,,,,,,
CAZ,282.334757,310.360919,398.804078,428.824146,447.562387,426.293727,404.500397
CHA,8431.223086,9268.154486,11909.288737,12805.763164,13365.333997,12730.198542,12079.395114
EUR,1707.840828,1877.370871,2412.362872,2593.954037,2707.301520,2578.647557,2446.819867
IND,473.197962,520.170296,668.402567,718.716723,750.122341,714.475698,677.949698
JPN,1286.008605,1413.665171,1816.515545,1953.254167,2038.605118,1941.728348,1842.461753
LAM,1507.570555,1657.220626,2129.476690,2289.773534,2389.829303,2276.261971,2159.893080
MEA,412.737496,453.708179,583.000825,626.886345,654.279270,623.187195,591.328119
NEU,199.675707,219.496660,282.046345,303.277448,316.529701,301.487859,286.074955
OAS,1089.626989,1197.789593,1539.122177,1654.979950,1727.297273,1645.214196,1561.106235
REF,1583.547720,1740.739718,2236.796112,2405.171450,2510.269739,2390.978944,2268.745399
SSA,217.635366,239.239097,307.414759,330.555475,344.999691,328.604924,311.805719
USA,509.786583,560.390913,720.084802,774.289350,808.123315,769.720401,730.370137

In [ ]:
#Quantity of copper produced for each production pathway and for each scenario
#The dataframe created contains the quantities for each year and for each region
prod_ref_NZE_by_region = pd.DataFrame(columns=prod_ref_NZE.index, index=share_cu_prod_ref_by_region.index)
for col in prod_ref_NZE_by_region.columns:
    prod_ref_NZE_by_region[col] = prod_ref_NZE[col] * share_cu_prod_ref_by_region

prod_leach_NZE_by_region = pd.DataFrame(columns=prod_leach_NZE.index, index=share_cu_prod_leach_by_region.index)
for col in prod_leach_NZE_by_region.columns:
    prod_leach_NZE_by_region[col] = prod_leach_NZE[col] * share_cu_prod_leach_by_region

prod_sec_NZE_by_region = pd.DataFrame(columns=prod_sec_NZE.index, index=share_cu_prod_sec_by_region.index)
for col in prod_sec_NZE_by_region.columns:
    prod_sec_NZE_by_region[col] = prod_sec_NZE[col] * share_cu_prod_sec_by_region

prod_ref_SPS_by_region = pd.DataFrame(columns=prod_ref_SPS.index, index=share_cu_prod_ref_by_region.index)
for col in prod_ref_SPS_by_region.columns:
    prod_ref_SPS_by_region[col] = prod_ref_SPS[col] * share_cu_prod_ref_by_region

prod_leach_SPS_by_region = pd.DataFrame(columns=prod_leach_SPS.index, index=share_cu_prod_leach_by_region.index)
for col in prod_leach_SPS_by_region.columns:
    prod_leach_SPS_by_region[col] = prod_leach_SPS[col] * share_cu_prod_leach_by_region

prod_sec_SPS_by_region = pd.DataFrame(columns=prod_sec_SPS.index, index=share_cu_prod_sec_by_region.index)
for col in prod_sec_SPS_by_region.columns:
    prod_sec_SPS_by_region[col] = prod_sec_SPS[col] * share_cu_prod_sec_by_region

In [135]:
prod_ref_NZE_by_region

Year,2022,2025,2030,2035,2040,2045,2050
Region,,,,,,,
CAZ,282.334757,310.360919,398.804078,428.824146,447.562387,426.293727,404.500397
CHA,8431.223086,9268.154486,11909.288737,12805.763164,13365.333997,12730.198542,12079.395114
EUR,1707.840828,1877.370871,2412.362872,2593.954037,2707.301520,2578.647557,2446.819867
IND,473.197962,520.170296,668.402567,718.716723,750.122341,714.475698,677.949698
JPN,1286.008605,1413.665171,1816.515545,1953.254167,2038.605118,1941.728348,1842.461753
LAM,1507.570555,1657.220626,2129.476690,2289.773534,2389.829303,2276.261971,2159.893080
MEA,412.737496,453.708179,583.000825,626.886345,654.279270,623.187195,591.328119
NEU,199.675707,219.496660,282.046345,303.277448,316.529701,301.487859,286.074955
OAS,1089.626989,1197.789593,1539.122177,1654.979950,1727.297273,1645.214196,1561.106235
REF,1583.547720,1740.739718,2236.796112,2405.171450,2510.269739,2390.978944,2268.745399
SSA,217.635366,239.239097,307.414759,330.555475,344.999691,328.604924,311.805719
USA,509.786583,560.390913,720.084802,774.289350,808.123315,769.720401,730.370137

In [111]:
print(prod_ref_NZE_by_region[2050].sum()+prod_leach_NZE_by_region[2050].sum()+prod_sec_NZE_by_region[2050].sum())

39733.40000000001

In [105]:
data_NZE = []
for index, row in prod_ref_NZE_by_region.iterrows():
    remind = "remind"
    SSP2_PkBudg500 = "SSP2-PkBudg500"
    NZE = "NZE"
    region = index
    production_type = "Production|Copper|Electrorefining"
    unit = "ton"
    row_rounded = [round(val, 2) for val in row]
    data_NZE.append([remind, SSP2_PkBudg500, NZE, region, production_type, unit] + row_rounded)

In [133]:
data_SPS = []
for index, row in prod_sec_SPS_by_region.iterrows():
    remind = "remind"
    SSP2_NPi = "SSP2-NPi"
    SPS = "SPS"
    region = index
    production_pathway = "Production|Copper|Secondary"
    unit = "ton"
    row_rounded = [round(val, 2) for val in row]
    data_SPS.append([remind, SSP2_NPi, SPS, region, production_pathway, unit] + row_rounded)

In [134]:
with open('export.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data_SPS)

In [72]:
excel_file = "/Users/margueritefauroux/Desktop/data_metals.xlsx"
sheet_name_calculs_scenarios = "calculs_scenarios"
df_alu_prod = pd.read_excel(excel_file, sheet_name=sheet_name_calculs_scenarios, skiprows=61, nrows=25)

In [73]:
columns = ['region', 'production pathway', 2022, 2025, 2030, 2035, 2040, 2045, 2050]
df_alu_prod = df_alu_prod.loc[:, columns]
df_alu_prod

,region,production pathway,2022,2025,2030,2035,2040,2045,2050
0,GLO,secondary production,0.358663,0.390000,0.420000,0.440000,0.460000,0.490000,0.510000
1,CAZ,primary production,0.019887,0.018915,0.017985,0.017364,0.016744,0.015814,0.015194
2,CHA,primary production,0.411413,0.391311,0.372066,0.359236,0.346406,0.327161,0.314331
3,EUR,primary production,0.038570,0.036685,0.034881,0.033678,0.032475,0.030671,0.029468
4,JPN,primary production,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,LAM,primary production,0.012293,0.011692,0.011117,0.010734,0.010351,0.009775,0.009392
6,MEA,primary production,0.066216,0.062980,0.059883,0.057818,0.055753,0.052656,0.050591
7,OAS,primary production,0.051941,0.049403,0.046974,0.045354,0.043734,0.041305,0.039685
8,USA,primary production,0.041018,0.039014,0.037095,0.035816,0.034537,0.032618,0.031339
9,CAZ,secondary production old scrap,0.000232,0.000201,0.000227,0.000245,0.000263,0.000290,0.000308
10,CHA,secondary production old scrap,0.056113,0.085334,0.096781,0.104413,0.112045,0.123493,0.131124
11,EUR,secondary production old scrap,0.041043,0.037088,0.042064,0.045381,0.048697,0.053673,0.056990
12,JPN,secondary production old scrap,0.008706,0.007645,0.008671,0.009355,0.010038,0.011064,0.011748
13,LAM,secondary production old scrap,0.014662,0.011720,0.013292,0.014341,0.015389,0.016961,0.018009
14,MEA,secondary production old scrap,0.004663,0.003680,0.004174,0.004503,0.004832,0.005326,0.005655
15,OAS,secondary production old scrap,0.025982,0.041538,0.047111,0.050826,0.054540,0.060113,0.063828
16,USA,secondary production old scrap,0.040890,0.036422,0.041308,0.044565,0.047823,0.052709,0.055966
17,CAZ,secondary production new scrap,0.000090,0.000090,0.000090,0.000090,0.000090,0.000090,0.000090
18,CHA,secondary production new scrap,0.080748,0.080748,0.080748,0.080748,0.080748,0.080748,0.080748
19,EUR,secondary production new scrap,0.018440,0.018440,0.018440,0.018440,0.018440,0.018440,0.018440
20,JPN,secondary production new scrap,0.003556,0.003556,0.003556,0.003556,0.003556,0.003556,0.003556
21,LAM,secondary production new scrap,0.004135,0.004135,0.004135,0.004135,0.004135,0.004135,0.004135
22,MEA,secondary production new scrap,0.001240,0.001240,0.001240,0.001240,0.001240,0.001240,0.001240
23,OAS,secondary production new scrap,0.040638,0.040638,0.040638,0.040638,0.040638,0.040638,0.040638
24,USA,secondary production new scrap,0.017524,0.017524,0.017524,0.017524,0.017524,0.017524,0.017524

In [9]:
df_alu_prod_primary = df_alu_prod.loc[df_alu_prod["production pathway"] == "primary production"]
df_alu_prod_primary = df_alu_prod_primary.drop("production pathway", axis = 1)
df_alu_prod_primary.set_index("region", inplace=True)
df_alu_prod_primary

            2022      2025      2030      2035      2040      2045      2050
region
CAZ     0.019887  0.018915  0.017985  0.017364  0.016744  0.015814  0.015194
CHA     0.411413  0.391311  0.372066  0.359236  0.346406  0.327161  0.314331
EUR     0.038570  0.036685  0.034881  0.033678  0.032475  0.030671  0.029468
JPN     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
LAM     0.012293  0.011692  0.011117  0.010734  0.010351  0.009775  0.009392
MEA     0.066216  0.062980  0.059883  0.057818  0.055753  0.052656  0.050591
OAS     0.051941  0.049403  0.046974  0.045354  0.043734  0.041305  0.039685
USA     0.041018  0.039014  0.037095  0.035816  0.034537  0.032618  0.031339

In [10]:
df_alu_prod_secondary_old = df_alu_prod.loc[df_alu_prod["production pathway"] == "secondary production old scrap"].drop("production pathway", axis = 1)
df_alu_prod_secondary_old.set_index("region", inplace=True)
df_alu_prod_secondary_old

            2022      2025      2030      2035      2040      2045      2050
region
CAZ     0.000232  0.000201  0.000227  0.000245  0.000263  0.000290  0.000308
CHA     0.056113  0.085334  0.096781  0.104413  0.112045  0.123493  0.131124
EUR     0.041043  0.037088  0.042064  0.045381  0.048697  0.053673  0.056990
JPN     0.008706  0.007645  0.008671  0.009355  0.010038  0.011064  0.011748
LAM     0.014662  0.011720  0.013292  0.014341  0.015389  0.016961  0.018009
MEA     0.004663  0.003680  0.004174  0.004503  0.004832  0.005326  0.005655
OAS     0.025982  0.041538  0.047111  0.050826  0.054540  0.060113  0.063828
USA     0.040890  0.036422  0.041308  0.044565  0.047823  0.052709  0.055966

In [11]:
df_alu_prod_secondary_new = df_alu_prod.loc[df_alu_prod["production pathway"] == "secondary production new scrap"].drop("production pathway", axis = 1)
df_alu_prod_secondary_new.set_index("region", inplace=True)
df_alu_prod_secondary_new

            2022      2025      2030      2035      2040      2045      2050
region
CAZ     0.000090  0.000090  0.000090  0.000090  0.000090  0.000090  0.000090
CHA     0.080748  0.080748  0.080748  0.080748  0.080748  0.080748  0.080748
EUR     0.018440  0.018440  0.018440  0.018440  0.018440  0.018440  0.018440
JPN     0.003556  0.003556  0.003556  0.003556  0.003556  0.003556  0.003556
LAM     0.004135  0.004135  0.004135  0.004135  0.004135  0.004135  0.004135
MEA     0.001240  0.001240  0.001240  0.001240  0.001240  0.001240  0.001240
OAS     0.040638  0.040638  0.040638  0.040638  0.040638  0.040638  0.040638
USA     0.017524  0.017524  0.017524  0.017524  0.017524  0.017524  0.017524

In [16]:
data_alu_NZE = []
for index, row in df_alu_prod_secondary_old.iterrows(): #change df_alu for each production pathway
    remind = "remind"
    SSP2_PkBudg500 = "SSP2-PkBudg500"
    NZE = "NZE"
    region = index
    production_type = "Production|Alu|Secondary Old" #change for each production pathway
    unit = "ton"
    row_rounded = [round(val, 3) for val in row]
    data_alu_NZE.append([remind, SSP2_PkBudg500, NZE, region, production_type, unit] + row_rounded)

In [18]:
data_alu_SPS = []
for index, row in df_alu_prod_secondary_old.iterrows():
    remind = "remind"
    SSP2_NPi = "SSP2-NPi"
    SPS = "SPS"
    region = index
    production_pathway = "Production|Alu|Secondary Old"
    unit = "ton"
    row_rounded = [round(val, 3) for val in row]
    data_alu_SPS.append([remind, SSP2_NPi, SPS, region, production_pathway, unit] + row_rounded)

In [19]:
with open('export.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data_alu_SPS)

In [74]:
excel_file = "/Users/margueritefauroux/Desktop/PDM.xlsx"
df_alu_mix_NZE = pd.read_excel(excel_file, sheet_name=sheet_name_calculs_scenarios, skiprows=21, nrows=9)
columns = ['production pathway', 2022, 2025, 2030, 2035, 2040, 2045, 2050]
df_alu_mix_NZE = df_alu_mix_NZE.loc[:, columns]
df_alu_mix_NZE.set_index("production pathway", inplace=True)
df_alu_mix_NZE

,2022,2025,2030,2035,2040,2045,2050
production pathway,,,,,,,
Hydro,0.1920,0.248511,2.075953e-01,0.169783,0.158147,0.155518,0.156119
Coal,0.7450,0.392651,4.136668e-02,0.000057,0.000045,0.000035,0.000024
Oil,0.0000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Natural Gas,0.0000,0.021452,2.049647e-02,0.010074,0.004248,0.001470,0.000365
Nuclear,0.0060,0.034539,5.384860e-02,0.055447,0.059170,0.061031,0.062279
Wind,0.0269,0.119315,2.299593e-01,0.269315,0.279703,0.281186,0.282475
Solar,0.0301,0.183532,4.467336e-01,0.493732,0.496465,0.496366,0.491603
Hydrogen,0.0000,0.000000,2.144633e-08,0.001591,0.002222,0.003238,0.004686

In [76]:
df_alu_mix_SPS = pd.read_excel(excel_file, sheet_name=sheet_name_calculs_scenarios, skiprows=51, nrows=9)
columns = ['production pathway', 2022, 2025, 2030, 2035, 2040, 2045, 2050]
df_alu_mix_SPS = df_alu_mix_SPS.loc[:, columns]
df_alu_mix_SPS.set_index("production pathway", inplace=True)
df_alu_mix_SPS

,2022,2025,2030,2035,2040,2045,2050
production pathway,,,,,,,
Hydro,0.192000,0.215860,1.937032e-01,1.772868e-01,1.738195e-01,1.752150e-01,1.752290e-01
Coal,0.745000,0.622080,5.163093e-01,4.300302e-01,3.335652e-01,2.517236e-01,1.385855e-01
Oil,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Natural Gas,0.000000,0.001916,1.582292e-03,1.260435e-03,1.170737e-03,9.862776e-04,8.630340e-04
Nuclear,0.006000,0.015524,2.240477e-02,2.654237e-02,3.342909e-02,3.912948e-02,3.913892e-02
Wind,0.029468,0.061464,1.003862e-01,1.212286e-01,1.365303e-01,1.558836e-01,1.559316e-01
Solar,0.027531,0.083156,1.656143e-01,2.436515e-01,3.214852e-01,3.770620e-01,3.771139e-01
Hydrogen,0.000000,0.000000,1.665185e-08,2.405613e-08,2.024396e-08,2.040024e-08,1.862567e-08

In [58]:
data_alu_mix_NZE = []
for index, row in df_alu_mix_NZE.iterrows():
    remind = "remind"
    SSP2_PkBudg500 = "SSP2-PkBudg500"
    NZE = "NZE"
    region = "CHA"
    production_type = "Electricity|Alu|"+index
    unit = "%"
    row_rounded = [round(val, 3) for val in row]
    data_alu_mix_NZE.append([remind, SSP2_PkBudg500, NZE, region, production_type, unit] + row_rounded)

In [66]:
data_alu_mix_SPS = []
for index, row in df_alu_mix_SPS.iterrows():
    remind = "remind"
    SSP2_NPi = "SSP2-NPi"
    SPS = "SPS"
    region = "CHA"
    production_type = "Electricity|Alu|"+index
    unit = "%"
    row_rounded = [round(val, 3) for val in row]
    data_alu_mix_SPS.append([remind, SSP2_NPi, SPS, region, production_type, unit] + row_rounded)

In [67]:
with open('export.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data_alu_mix_SPS)

In [85]:
excel_file = "/Users/margueritefauroux/Desktop/data_metals.xlsx"
df_ni_prod = pd.read_excel(excel_file, sheet_name=sheet_name_calculs_scenarios, skiprows=93, nrows=9)
columns = ['production pathway', 2022, 2025, 2030, 2035, 2040, 2045, 2050]
df_ni_prod = df_ni_prod.loc[:, columns]
df_ni_prod.set_index("production pathway", inplace=True)
df_ni_prod

,2022,2025,2030,2035,2040,2045,2050
production pathway,,,,,,,
Secondary production,0.012000,0.014000,0.015000,0.045000,0.080000,0.160000,0.250000
Materials,0.138597,0.138317,0.138176,0.133968,0.129058,0.117836,0.105210
PGM,0.189086,0.188703,0.188512,0.182771,0.176072,0.160762,0.143537
Smelting16,0.160377,0.160052,0.159890,0.155020,0.149339,0.136353,0.121743
Smelting7,0.166317,0.165980,0.165812,0.160762,0.154870,0.141403,0.126253
Cobalt,0.333623,0.332948,0.332610,0.322480,0.310661,0.283647,0.253257

In [90]:
data_ni_prod = []
for index, row in df_ni_prod.iterrows():
    remind = "remind"
    SSP2_PkBudg500 = "SSP2-PkBudg500"
    NZE = "NZE"
    region = "World"
    production_type = "Production|Nickel|"+index
    unit = "ton"
    row_rounded = [round(val, 3) for val in row]
    data_ni_prod.append([remind, SSP2_PkBudg500, NZE, region, production_type, unit] + row_rounded)

In [92]:
data_ni_prod = []
for index, row in df_ni_prod.iterrows():
    remind = "remind"
    SSP2_PkBudg500 = "SSP2-NPi"
    SPS = "SPS"
    region = "World"
    production_type = "Production|Nickel|"+index
    unit = "ton"
    row_rounded = [round(val, 3) for val in row]
    data_ni_prod.append([remind, SSP2_NPi, SPS, region, production_type, unit] + row_rounded)

In [93]:
with open('export.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data_ni_prod)